
.qody_pinner_wrapper {
	position:relative;
	overflow:hidden;
}
.qody_pinner_wrapper img {
	z-index:3;
	position:relative;
	display:block;
}
.qody_pinner_wrapper span {
	display:none;
	z-index:1;
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	float:left;
}
